upstream php-upstream {
    server php:9000;
}

server {
    server_name {{ getenv "VIRTUAL_HOST" }};
    root {{ getenv "DOCUMENT_ROOT" }};

    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /playground.php/$1;
        rewrite ^(.*)$ /index.php/$1 last;
    }

    location ~ ^/(index|app|app_dev|config|playground)\.php(/|$) {
        fastcgi_pass php-upstream;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    error_log /var/log/nginx/{{ getenv "LOG_FILE" }}_error.log;
    access_log /var/log/nginx/{{ getenv "LOG_FILE" }}_access.log;
}
